
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <div class="row">

    <div class="col-sm-8">
        <div class="shadow-none p-3 mb-5 bg-light rounded">
          <h3>Listado de noticias</h3>

          <table class="table table-hover">
            <thead>
              <tr>
                  <td class="font-weight-bold">Titulo</td>
                  <td class="font-weight-bold">Subtitulo</td>
                  <td class="font-weight-bold">Descripcion</td>
                  <td class="font-weight-bold">Fecha</td>
                  <td class="font-weight-bold" colspan="4">acciones</td>
              </tr>
            </thead>

            <tbody>
                <tr *ngFor="let onenews of news" id="contacts-table">
                    <td>{{ onenews.title }}</td>
                    <td>{{ onenews.subtitle }}</td>
                    <td>{{ onenews.description }}</td>
                    <td>{{ onenews.fecAlta | date:'shortDate' }}</td>
                    <td><a [routerLink]="['/news/view', onenews.id]" class="btn btn-primary">Detalle</a></td>
                    <td><a (click) = "deleteNews(onenews.id)" class="btn btn-primary">Borrar</a></td>
                    <td><a [routerLink]="['/news/listComments', onenews.id]" class="btn btn-primary">Comentarios</a></td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="col-sm-4">
      <div class="shadow-none p-3 mb-5 bg-light rounded">
         <app-createnews></app-createnews>
      </div>
    </div>

  </div>
</div>