<table class="table table-hover">
  <thead>
  <tr>
      <td>titulo</td>
      <td>subtitulo</td>
      <td>descripcion</td>
      <td colspan="2">acciones</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let onenews of news" id="contacts-table">
          <td>{{ onenews.title }}</td>
          <td>{{ onenews.subtitle }}</td>
          <td>{{ onenews.description }}</td>
          <td><a [routerLink]="['edit', onenews.id]" class="btn btn-primary">Editar</a></td>
          <!-- <td><a (click) = "deleteContacts(contact._id)" class="btn btn-danger">Borrar</a></td> -->
      </tr>
  </tbody>
</table>
